{% extends "base.html" %}

{% block content %}

<section class="content">
  <div class="container-fluid">
    <div class="row">
        <div class="col-12 mt-3">
            <h2 class="mb-3">Upload a CSV file</h2>
                   <div class="row">
                    <form method="POST" enctype="multipart/form-data" action="{{ url_for('upload_new_csv') }}">
                        <input type="file" name="csvfile" accept="text/csv">
                        <input type="submit" value="Upload">
                    </form>
                   </div>

        </div>
        <div class="col-12 mt-3">
            <div>{{ upload_message }}</div>
        </div>

    </div>
  </div>
</section>
{% endblock %}

{% block add_script %}

    <script>
    // Add the following code if you want the name of the file appear on select
    $(".custom-file-input").on("change", function() {
      var fileName = $(this).val().split("\\").pop();
      $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
    });
    </script>

{% endblock %}